Source: usefulidiot
Maintainer: Jim Richardson <weaselkeeper@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8)

Package: usefulidiot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a minion
 Summon a simple minded minion to wreak havoc on your systems. 
